<div class="scontainer-fluid">
  <div class="row-fluid">
    <div class="span3 principal" style="padding: 0;">
      <div class="row-fluid" style="text-align:center;">
        <%= image_tag 'menu_izq.png'%>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%=image_tag 'botones-01.png', class: 'botonera'%>
        </div>
        <div class="span4">
          <%=image_tag 'botones-02.png', class: 'botonera'%>
        </div>
        <div class="span4">
          <%=image_tag 'botones-03.png', class: 'botonera'%>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%=image_tag 'botones-04.png', class: 'botonera'%>
        </div>
        <div class="span4">
          <%=image_tag 'botones-05.png', class: 'botonera'%>
        </div>
        <div class="span4">
          <%=image_tag 'botones-06.png', class: 'botonera'%>
        </div>
      </div>
    </div>
    <div class="span9 principal" style="margin: 0;">
      <div class="row-fluid" style="text-align:center;">
        <%= image_tag 'entertainment.png', size: '300x300'%>
      </div>
      <div class="row-fluid" style="text-align:center;">
        <%= image_tag 'menu_der.png', class: 'image_principal'%>
      </div>
      <div class="row-fluid" style="text-align:center;">
        <p style="color: white;">askfjsklfjsklfjsklfjasdkfjsdlkfjsdlkfjsdlkfjasdlkfjasdlkfjasdkfjasdflkasdjfalkdsjf</p>
      </div>
    </div>
  </div>
</div>
